footer{
  background: #e8e8e8;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.footer-copyright {
  font-family: segoe_ui_regular;
  font-weight: lighter;
  color: #454242;
}

.social-item {
  display: inline-block;
  margin-left: 20px;
}

.social-item-link {
  display: block;
  height: 30px;
  width: 30px;
  background: url("../img/sprite.png") 0 0 no-repeat;
}

.twitter {
  background-position: -31px 0;
}

.social-item-link:hover {
  background-position: 0 -31px;
  transition: 0.2s;
}

.twitter:hover {
  background-position: -31px -31px;
}