$main_color: #a292b3;
$wrapper_background: #ffffff;
$logo_font_size: 39px;
$header_navlinks_font_size: 19px;
$header_navlinks_color: #545454;
$slider_text_color: #ffffff;
$slider_heading_font_size: 117px;
$slider_text_font_size: 31px;
$main_short_article_font_size: 23px;
$main_short_article_color: #494848;
$main_article_heading_font_size: 31px;
$main_article_heading_color: #505051;
$main_article_paragraph_font_size: 15px;
$main_article_paragraph_color: #838383;

